<!doctype html>
<html>
<head>
    <title>Example Domain</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
<div>
    <form method="get" action="/" id="form1">
        <input type="text" name="class" placeholder="e.g. CS 162"></input>
        <input type="text" name="location_name" placeholder="e.g. PSB 123"></input>
        <input type="text" name="contact" placeholder="e.g. example@cornell.edu"></input>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    var pos;
    window.onload = function() {
        var geoSuccess = function(position) {
            pos = position;
            var input_lon = $("<input>")
               .attr("type", "hidden")
               .attr("name", "longitude").val(pos.coords.longitude);
            var input_lat = $("<input>")
               .attr("type", "hidden")
               .attr("name", "latitude").val(pos.coords.latitude);
            $('#form1').append($(input_lon));
            $('#form1').append($(input_lat));
        };
        navigator.geolocation.getCurrentPosition(geoSuccess);
    };
</script>
