<!doctype html>
<html>
<head>
    <title>Student-Led Office Hours</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
</head>

<body>
<div class="container">
    <div class="page-header">
        <h1> Office Hours </h1>
        <form action="/">
            <button type="submit" class="btn btn-lg btn-primary">Back</button> 
        </form>
    </div>
    <div>
      <h3> About </h3>
      <p>
        We built a platform for students to find other students to study with.
      </p>
      <p>
        Students can post their location, room number, a start and end time and class to the portal. Other students can see student-run office hours that other people are hosting and go and study with them.
      </p>

      <p>
        It is an idea we have had for a while, and have wanted to be implemented and available for us to use.
      </p>
      
      <p>
	 Built at <a href="http://www.bigredhacks.com">Big Red Hacks 2016</a>.
      </p>
      <h3> Authors </h3>
      <ul>
        <li><a href="http://www.shanebarratt.com">Shane Barratt</a></li>
        <li><a href="http://www.derrickhho.com">Derrick Ho</a></li>
      </ul>
    </div>
</div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
