<!doctype html>
<html>
<head>
    <title>Example Domain</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
</head>

<body>
<div class="container">
    <div class="page-header">
        <h1> Office Hours </h1>
        <form action="/">
            <button type="submit" class="btn btn-success">Go Back</button>
        </form>
    </div>
    <form method="post" action="/submit" id="form1">
      <div class="form-group">
        <label for="class">Class:</label>
        <input type="text" name="class" placeholder="e.g. CS 162" class="form-control" id="class">
      </div>
      <div class="form-group">
        <label for="location_name">Building and Room Number:</label>
        <input type="text" name="location_name" placeholder="e.g. PSB 123" class="form-control" id="location_name">
      </div>
      <div class="form-group">
        <label for="contact">Contact:</label>
        <input type="email" name="contact" placeholder="e.g. bigred@cornell.edu" class="form-control" id="contact">
      </div>
      <div class="form-group">
        <label for="start">Start:</label>
        <input type="datetime" name="start" placeholder="e.g. 2PM" class="form-control" id="start">
      </div>
      <div class="form-group">
        <label for="end">End:</label>
        <input type="datetime" name="end" placeholder="e.g. 4PM" class="form-control" id="end">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    var pos;
    window.onload = function() {
        var geoSuccess = function(position) {
            pos = position;
            var input_lon = $("<input>")
               .attr("type", "hidden")
               .attr("name", "longitude").val(pos.coords.longitude);
            var input_lat = $("<input>")
               .attr("type", "hidden")
               .attr("name", "latitude").val(pos.coords.latitude);
            $('#form1').append($(input_lon));
            $('#form1').append($(input_lat));
        };
        navigator.geolocation.getCurrentPosition(geoSuccess);
    };
</script>
