<!doctype html>
<html>
<head>
    <title>Example Domain</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
</head>

<body>
    <div>
        {% for oh in officehours %}
            <li>{{oh.class_name}} {{oh.contact}}</li>
        {% endfor %} 
    </div>
    <div id="map"></div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    var map;
    var markers = [];

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 42.4496, lng: -76.4821},
            zoom: 16
        });
        getMarkers();
    }
    
    function getMarkers() {
        $.ajax({
            url: "/markers",
            success: function(data) {
                for (i in markers) {
                    markers[i].setMap(null);
                }
                markers = [];
                data = JSON.parse(data);
                var marker;
                for (i in data) {
                    datum = data[i];
                    marker = new google.maps.Marker({
                            position: new google.maps.LatLng(datum["latitude"], datum["longitude"]),
                            label: datum["class_name"],
                            title: datum["class_name"]
                    });
                    marker.setMap(map);
                    var contentString = 'Class: ' + datum["class_name"] + '<br></br>' + 
                                        'Location: ' + datum["location_name"] + "<br></br>" + 
                                        'Contact: ' + datum["contact"] + "<br></br>" + 
                                        'Start: ' + datum["start"] + "<br></br>"
                                        'End: ' + datum["end"] + "<br></br>"
                    var infowindow = new google.maps.InfoWindow({
                                  content: contentString
                                          });
                    marker.addListener('click', function() {
                                  infowindow.open(map, marker);
                                          });
                    markers.push(marker);
                }
            },
            method: "GET"
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDse4VjdQWla0lAbGl5mc0FBMiKuUel8s0&callback=initMap" async defer></script>

