<!doctype html>
<html>
<head>
    <title>Example Domain</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1> Office Hours </h1>
            <form action="/form">
                <button type="submit" class="btn btn-default">Add Your Own</button>
            </form>
        </div>
        <!-- {% for oh in officehours %}
            <li>{{oh.class_name}}, {{oh.contact}}, {{oh.location_name}}, {{oh.latitude}}, {{oh.longitude}}, {{oh.start}}-{{oh.end}}</li>
        {% endfor %} -->
    </div>
    <div id="map"></div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment.min.js"></script>
<script>
    var map;
    var markers = [];
    var infowindows = [];

    centerMap = function() {
        var geoSuccess = function(position) {
            var center = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            map.panTo(center);
        };
        navigator.geolocation.getCurrentPosition(geoSuccess);
    };

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 42.4496, lng: -76.4821},
            zoom: 16
        });
        getMarkers();
        centerMap();
    }

    function getMarkers() {
        $.ajax({
            url: "/markers",
            success: function(data) {
                for (i in markers) {
                    markers[i].setMap(null);
                }
                markers = [];
                infowindows = [];
                data = JSON.parse(data);
                var marker;
                var contentString;
                var infowindow;
                for (i in data) {
                    datum = data[i];
                    marker = new google.maps.Marker({
                            position: new google.maps.LatLng(datum["latitude"], datum["longitude"]),
                            label: datum["class_name"],
                            title: datum["class_name"]
                    });
                    contentString = 'Class: ' + datum["class_name"] + '<br />' +
                                        'Location: ' + datum["location_name"] + "<br />" +
                                        'Contact: ' + '<a href=mailto:' + datum["contact"] + '>' + datum["contact"] + '</a>'  + "<br />" +
                                        'Start: ' + moment(datum["start"]).calendar() + "<br />" +
                                        'End: ' + moment(datum["end"]).calendar() + "<br />";
                    marker["infowindow"] = new google.maps.InfoWindow({
                                        content: contentString
                                          });
                    markers.push(marker);
                }
                for (i in data) {
                    markers[i].addListener('click', function() {
                         this["infowindow"].open(map, this);
                          });
                    markers[i].setMap(map)
                }
            },
            method: "GET"
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDse4VjdQWla0lAbGl5mc0FBMiKuUel8s0&callback=initMap" async defer></script>

